<h1>{{ title }}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
<!-- what i learned???
-display heroes with details
-user can select heroand see the Details
-i used *ngFor to display heroes listed
-i used *ngIf cuz there is no selected heroes or it will crash
-i learned to add event and bind (click)="onSelect(hero)"
-void = returns anything
-[(ngModel)] used only with forms and change the input text -->
